# 03. Text2SQL ê¸°ì´ˆ

ì´ ë…¸íŠ¸ë¶ì—ì„œ ë‹¤ë£¨ëŠ” ë‚´ìš©:
- Text2SQL ê°œë… ì´í•´
- ìì—°ì–´ë¡œë¶€í„° SQL ìƒì„±
- ìƒì„±ëœ ì¿¼ë¦¬(Query) ì‹¤í–‰
- ì˜¤ë¥˜ ì²˜ë¦¬ ë° ê²€ì¦
- ì¿¼ë¦¬ íˆìŠ¤í† ë¦¬ ë¡œê¹…

## 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸

In [ ]:
import sys
sys.path.append('/workspace')

from src.utils.db_utils import DatabaseConnection, get_database_context
from src.utils.text2sql_utils import Text2SQLGenerator, execute_text2sql, get_few_shot_examples
import pandas as pd

print("âœ“ Libraries imported successfully")

## 2. ì»´í¬ë„ŒíŠ¸ ì´ˆê¸°í™”

In [ ]:
# ë°ì´í„°ë² ì´ìŠ¤ ì´ˆê¸°í™” connection
db = DatabaseConnection()

# Text2SQL ìƒì„±ê¸° ì´ˆê¸°í™”
try:
    generator = Text2SQLGenerator(llm_provider="ollama", model_name="llama2")
    print("âœ“ Text2SQL generator initialized")
except Exception as e:
    print(f"âš  Could not initialize Text2SQL generator: {e}")
    print("Make sure Ollama is running and a model is installed")
    print("Run: docker exec -it text2sql-ollama ollama pull llama2")

## 3. ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ ì»¨í…ìŠ¤íŠ¸ ê°€ì ¸ì˜¤ê¸°

In [ ]:
# ì»¨í…ìŠ¤íŠ¸ë¥¼ ìœ„í•œ ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ ê°€ì ¸ì˜¤ê¸°
schema_context = get_database_context()
print("Database Schema Context:")
print("="*60)
print(schema_context)

## 4. Few-Shot ì˜ˆì œ ê²€í†

In [ ]:
# LLMì´ ì‘ì—…ì„ ì´í•´í•˜ëŠ” ë° ë„ì›€ì´ ë˜ëŠ” Few-Shot ì˜ˆì œ ê°€ì ¸ì˜¤ê¸°
examples = get_few_shot_examples()
print("Few-Shot Examples:")
print("="*60)
print(examples)

## 5. ê°„ë‹¨í•œ Text2SQL ì˜ˆì œ

In [ ]:
# ì˜ˆì œ 1: ê°„ë‹¨í•œ SELECT ì¿¼ë¦¬
natural_query = "Show me all employees"

print(f"Natural Language Query: {natural_query}")
print("\nGenerating SQL...")

try:
    sql_query = generator.generate_sql(natural_query, schema_context, examples)
    print(f"\nGenerated SQL:\n{sql_query}")
    
    # ì¿¼ë¦¬ ì‹¤í–‰
    result_df = db.execute_query_df(sql_query)
    print(f"\nResults ({len(result_df)} rows):")
    display(result_df)
except Exception as e:
    print(f"Error: {e}")

In [ ]:
# ì˜ˆì œ 2: í•„í„°ë§ì´ ìˆëŠ” ì¿¼ë¦¬
natural_query = "Find all employees with salary greater than 6000000"

print(f"Natural Language Query: {natural_query}")
print("\nGenerating SQL...")

try:
    sql_query = generator.generate_sql(natural_query, schema_context, examples)
    print(f"\nGenerated SQL:\n{sql_query}")
    
    result_df = db.execute_query_df(sql_query)
    print(f"\nResults ({len(result_df)} rows):")
    display(result_df)
except Exception as e:
    print(f"Error: {e}")

In [ ]:
# ì˜ˆì œ 3: JOINì´ ìˆëŠ” ì¿¼ë¦¬
natural_query = "Show me all employees in the Engineering department"

print(f"Natural Language Query: {natural_query}")
print("\nGenerating SQL...")

try:
    sql_query = generator.generate_sql(natural_query, schema_context, examples)
    print(f"\nGenerated SQL:\n{sql_query}")
    
    result_df = db.execute_query_df(sql_query)
    print(f"\nResults ({len(result_df)} rows):")
    display(result_df)
except Exception as e:
    print(f"Error: {e}")

In [ ]:
# ì˜ˆì œ 4: ì§‘ê³„ ì¿¼ë¦¬
natural_query = "What is the total sales amount by region?"

print(f"Natural Language Query: {natural_query}")
print("\nGenerating SQL...")

try:
    sql_query = generator.generate_sql(natural_query, schema_context, examples)
    print(f"\nGenerated SQL:\n{sql_query}")
    
    result_df = db.execute_query_df(sql_query)
    print(f"\nResults ({len(result_df)} rows):")
    display(result_df)
except Exception as e:
    print(f"Error: {e}")

## 6. ì™„ì „í•œ íŒŒì´í”„ë¼ì¸ ì‚¬ìš©

In [ ]:
# ë¡œê¹…ê³¼ í•¨ê»˜ ì™„ì „í•œ íŒŒì´í”„ë¼ì¸ ì‚¬ìš©
natural_query = "List all active projects with their department names"

print(f"Natural Language Query: {natural_query}")
print("\nExecuting complete text2sql pipeline...")

result = execute_text2sql(db, natural_query, log_execution=True)

print(f"\nSuccess: {result['success']}")
print(f"Execution Time: {result['execution_time_ms']} ms")
print(f"\nGenerated SQL:\n{result['sql_query']}")

if result['success']:
    print(f"\nResults ({result['row_count']} rows):")
    display(result['results'])
else:
    print(f"\nError: {result['error']}")

## 7. ì§ì ‘ ì¿¼ë¦¬ ì‹œë„í•´ë³´ê¸°

In [ ]:
# ì¸í„°ë™í‹°ë¸Œ ì¿¼ë¦¬ í…ŒìŠ¤íŠ¸
test_queries = [
    "How many employees are in each department?",
    "What is the average salary by job title?",
    "Show me the top 5 customers by total purchase amount",
    "List all projects that ended in 2023",
    "Find employees who are managers"
]

# ê° ì¿¼ë¦¬ í…ŒìŠ¤íŠ¸
for query in test_queries:
    print("\n" + "="*80)
    print(f"Query: {query}")
    print("="*80)
    
    result = execute_text2sql(db, query, log_execution=True)
    
    if result['success']:
        print(f"Generated SQL: {result['sql_query']}")
        print(f"\nResults ({result['row_count']} rows):")
        display(result['results'].head())
    else:
        print(f"Error: {result['error']}")

## 8. ì¿¼ë¦¬ íˆìŠ¤í† ë¦¬ ë³´ê¸°

In [ ]:
# ì¿¼ë¦¬ íˆìŠ¤í† ë¦¬ í™•ì¸
history_query = """
SELECT 
    query_id,
    natural_language_query,
    execution_success,
    execution_time_ms,
    result_count,
    created_at
FROM query_history
ORDER BY created_at DESC
LIMIT 10
"""

history_df = db.execute_query_df(history_query)
print("Recent Query History:")
display(history_df)

In [ ]:
# ì¿¼ë¦¬ ì„±ê³µ í†µê³„
stats_query = """
SELECT 
    COUNT(*) as total_queries,
    SUM(CASE WHEN execution_success THEN 1 ELSE 0 END) as successful,
    SUM(CASE WHEN NOT execution_success THEN 1 ELSE 0 END) as failed,
    ROUND(AVG(execution_time_ms), 2) as avg_execution_time_ms,
    ROUND(AVG(result_count), 2) as avg_result_count
FROM query_history
"""

stats_df = db.execute_query_df(stats_query)
print("Query Statistics:")
display(stats_df)

## 9. ì˜¤ë¥˜ ì²˜ë¦¬ ì˜ˆì œ

In [ ]:
# ì‹¤íŒ¨í•  ìˆ˜ ìˆëŠ” ì¿¼ë¦¬ ì‹œë„
ambiguous_query = "Show me the data"

print(f"Testing ambiguous query: {ambiguous_query}")
result = execute_text2sql(db, ambiguous_query, log_execution=True)

print(f"\nSuccess: {result['success']}")
if result['success']:
    print(f"Generated SQL: {result['sql_query']}")
    display(result['results'].head())
else:
    print(f"Error: {result['error']}")
    print("\nğŸ’¡ Tip: Be more specific in your query!")

## ìš”ì•½

ì´ ë…¸íŠ¸ë¶ì—ì„œ ë°°ìš´ ë‚´ìš©:
- âœ“ ìì—°ì–´ ì¿¼ë¦¬ë¡œë¶€í„° SQL ìƒì„± ë°©ë²•
- âœ“ ìŠ¤í‚¤ë§ˆ ì»¨í…ìŠ¤íŠ¸ì™€ Few-Shot ì˜ˆì œ ì‚¬ìš© ë°©ë²•
- âœ“ ìƒì„±ëœ ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²€ì¦ ë°©ë²•
- âœ“ ëª¨ë‹ˆí„°ë§ì„ ìœ„í•œ ì¿¼ë¦¬ ë¡œê¹… ë°©ë²•
- âœ“ Text2SQLì—ì„œ ì˜¤ë¥˜ ì²˜ë¦¬ ë°©ë²•

ë‹¤ìŒ ë‹¨ê³„: `04_agent_workflow.ipynb`ë¡œ ì´ë™í•˜ì—¬ LangChain/LangGraphë¡œ ì—ì´ì „íŠ¸ ì›Œí¬í”Œë¡œìš°ë¥¼ êµ¬ì¶•í•©ë‹ˆë‹¤.